
.div2 {
    width: 100px;
    height: 100px;
    text-align: center;
    color: rgb(15, 15, 15);
    }

    .div {
    width: 140px;
    height: 115px;
    margin-left: 20px;
    background-image: url(src/maquina\ com\ B\ \(2\).png);
    background-color: black;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    margin-top: 5px;
    

    }

    p{
        color:rgb(252, 252, 252);
        font-size: 15px;
        padding: 25px 10px;
        font-weight: bold;
    }

   
    .a {
        background-color: green;
    }

    .b {
        background-color: rgb(255, 165, 0);
    }

       
    .c {
        background-color: #ebe716bd;
    }
    
       
    .d {
        background-color:rgb(196, 6, 6);
    }

    .f{
        background-color: rgb(170, 170, 170);
    }

    .branco{
        color: white;
    }


    .textoPerformance{
        font-weight: bold;
        text-align: center;
        font-size: 20px;
        padding: 6px;
    }

    .textoPerformanceBlack{
        font-weight: bold;
        text-align: center;
        font-size: 20px;
        padding: 6px;
        color: black;
    }